@charset "UTF-8";
html { box-sizing: border-box;}
html { box-sizing: border-box;}
header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 88px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
a {
    text-decoration: none;
}
body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 881px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}    
#ca {
    position: absolute;
    top: 12px;
    left: 142px;
    width: 38px;
    height: 38px;
    background: transparent url("images/call.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
#do {
    position: absolute;
    top: 0px;
    left: 230px;
    width: 130px;
    height: 41px;
    text-align: left;
    font: bold 30px/41px serif;
    letter-spacing: -2.4px;
    opacity: 1;
    color: #229DE8;
}
span {
    color: #B60B05;
}
#link {
    position: absolute;
    top: 10px;
    left: 38px;
    width: 623px;
    height: 24px;
    opacity: 1;
    text-decoration: none;
}
#hl {
    position: absolute;
    top: 25px;
    left: 638px;
    width: 92px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: 0;
    color: #229DE8;
    opacity: 1;
}
#tm {
    position: absolute;
    top: 25px;
    left: 785px;
    width: 50px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    color: #229DE8;
    opacity: 1;
}
#aq {
    position: absolute;
    top: 25px;
    left: 890px;
    width: 44px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: o;
    color: #229DE8;
    opacity: 1;
}
#ct {
    position: absolute;
    top: 25px;
    left: 989px;
    width: 86px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: o;
    color: #229DE8;
    opacity: 1;
}
#we {
    position: absolute;
    top: 146px;
    left: 541px;
    width: 157px;
    height: 49px;
    text-align: left;
    font: bold 36px/49px serif;
    letter-spacing: -2.88px;
    color: #229DE8;
    opacity: 1;
}
#fn {
    position: absolute;
    top: 270px;
    left: 165px;
    width: 71px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: -1.44px;
    color: #6E7275;
    opacity: 1;
}
#shel {
    position: absolute;
    top: 320px;
    left: 165px;
    width: 390px;
}
#cn {
    position: absolute;
    top: 359px;
    left: 165px;
    width: 206px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: -1.44px;
    color: #6E7275;
    opacity: 1;
}
#ret {
    position: absolute;
    top: 410px;
    left: 165px;
    width: 390px;
}
#pa {
    position: absolute;
    top: 448px;
    left: 165px;
    width: 77px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: -1.44px;
    color: #6E7275;
    opacity: 1;
}
#rule {
    position: absolute;
    top: 490px;
    left: 165px;
    width: 390px;
}
#ih {
    position: absolute;
    top: 563px;
    left: 204px;
    width: 353px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: -1.44px;
    opacity: 1;
}
#cb {
    position: absolute;
    top: 563px;
    left: 204px;
    width: 184px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: -1.44px;
    color: #6E7275;
}
#te {
    position: absolute;
    top: 581px;
    left: 352px;
    width: 45px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: -1.44px;
    color: #229DE8;
}
#an {
    position: absolute;
    top: 563px;
    left: 389px;
    width: 29px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: -1.44px;
    color: #6E7275;
}
#pp {
    position: absolute;
    top: 581px;
    left: 420px;
    width: 95px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: -1.44px;
    color: #229DE8;
}
#ln {
    position: absolute;
    top: 270px;
    left: 683px;
    width: 72px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: -1.44px;
    color: #6E7275;
    opacity: 1;
}
#rub {
    position: absolute;
    top: 320px;
    left: 683px;
    width: 390px;
}
#em {
    position: absolute;
    top: 359px;
    left: 682px;
    width: 38px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: -1.44px;
    color: #6E7275;
    opacity: 1;
}
#mode {
    position: absolute;
    top: 410px;
    left: 683px;
    width: 390px;
}
#cp {
    position: absolute;
    top: 448px;
    left: 683px;
    width: 127px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: -1.44px;
    color: #6E7275;
    opacity: 1;
}
#rise {
    position: absolute;
    top: 490px;
    left: 683px;
    width: 390px;
}
#ht {
    position: absolute;
    top: 637px;
    left: 523px;
    width: 248px;
    height: 49px;
    background: #229DE8 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}
#cr {
    position: absolute;
    top: 662px;
    left: 622px;
    width: 61px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}
#th {
    position: absolute;
    top: 788px;
    left: 50px;
    width: 1267px;
    height: 127px;
    background: #229DE8 0% 0% no-repeat padding-box;
    border-radius: 48px 48px 0px 0px;
    opacity: 1;
}
#bt {
    position: absolute;
    top: 48px;
    left: 140px;
    width: 50px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}
#et {
    position: absolute;
    top: 48px;
    left: 260px;
    width: 44px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}
#oy {
    position: absolute;
    top: 48px;
    left: 381px;
    width: 86px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}
#cv {
    position: absolute;
    top: 48px;
    left: 652px;
    width: 11px;
    height: 21px;
    background: transparent url("images/facebook.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
#es {
    position: absolute;
    top: 48px;
    left: 687px;
    width: 28px;
    height: 21px;
    background: transparent url("images/twitter.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
#is {
    position: absolute;
    top: 48px;
    left: 1131px;
    width: 142px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: o;
    color: #FFFFFF;
    opacity: 1;
}