@charset "UTF-8";
html { box-sizing: border-box;}
html { box-sizing: border-box;}
header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 88px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
a {
    text-decoration: none;
}
body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 1380px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}    
#ca {
    position: absolute;
    top: 12px;
    left: 142px;
    width: 38px;
    height: 38px;
    background: transparent url("images/call.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
#do {
    position: absolute;
    top: 0px;
    left: 230px;
    width: 130px;
    height: 41px;
    text-align: left;
    font: bold 30px/41px serif;
    letter-spacing: -2.4px;
    opacity: 1;
    color: #229DE8;
}
span {
    color: #B60B05;
}
#link {
    position: absolute;
    top: 10px;
    left: 38px;
    width: 623px;
    height: 24px;
    opacity: 1;
    text-decoration: none;
}
#hl {
    position: absolute;
    top: 25px;
    left: 638px;
    width: 92px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: 0;
    color: #229DE8;
    opacity: 1;
}
#tm {
    position: absolute;
    top: 25px;
    left: 785px;
    width: 50px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    color: #229DE8;
    opacity: 1;
}
#aq {
    position: absolute;
    top: 25px;
    left: 890px;
    width: 44px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: o;
    color: #229DE8;
    opacity: 1;
}
#ct {
    position: absolute;
    top: 25px;
    left: 989px;
    width: 86px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: o;
    color: #229DE8;
    opacity: 1;
}
#fa {
    position: absolute;
    top: 101px;
    left: 137px;
    width: 151px;
    height: 82px;
    text-align: left;
    font: bolder 50px/72px "nunito";
    letter-spacing: 0;
    color: #229DE8;
    opacity: 1;
}
#bx {
    position: absolute;
    top: 235px;
    left: 137px;
    width: 1093px;
    height: 96px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
}
#ph {
    position: absolute;
    top: 273px;
    left: 182px;
    width: 16px;
    height: 16px;
    background: #229DE8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.38;
    border-radius: 50%
}
#cp {
    position: absolute;
    top: 265px;
    left: 237px;
    width: 622px;
    height: 34px;
    text-align: left;
    font: bold 20px/19px "nunito";
    letter-spacing: 0;
    color: #229DE8;
    opacity: 0.78;
}
#vw {
    position: absolute;
    top: 273px;
    left: 1100px;
    width: 24px;
    height: 24px;
    background: url("images/cross.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
#hd {
    position: absolute;
    top: 348px;
    left: 137px;
    width: 1093px;
    height: 96px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
}
#md {
    position: absolute;
    top: 390px;
    left: 182px;
    width: 16px;
    height: 16px;
    background: #229DE8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.38;
    border-radius: 50%
}
#tm {
    position: absolute;
    top: 383px;
    left: 237px;
    width: 622px;
    height: 34px;
    text-align: left;
    font: bold 20px/19px "nunito";
    letter-spacing: 0;
    color: #229DE8;
    opacity: 0.78;
}
#tl {
    position: absolute;
    top: 385px;
    left: 1100px;
    width: 24px;
    height: 24px;
    background: url("images/cross.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
#on {
    position: absolute;
    top: 460px;
    left: 137px;
    width: 1093px;
    height: 96px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
}
#it {
    position: absolute;
    top: 500px;
    left: 182px;
    width: 16px;
    height: 16px;
    background: #229DE8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.38;
    border-radius: 50%
}
#sm {
    position: absolute;
    top: 493px;
    left: 237px;
    width: 622px;
    height: 34px;
    text-align: left;
    font: bold 20px/19px "nunito";
    letter-spacing: 0;
    color: #229DE8;
    opacity: 0.78;
}
#lr {
    position: absolute;
    top: 495px;
    left: 1100px;
    width: 24px;
    height: 24px;
    background: url("images/cross.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
#wn {
    position: absolute;
    top: 570px;
    left: 137px;
    width: 1093px;
    height: 96px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
}
#rt {
    position: absolute;
    top: 610px;
    left: 182px;
    width: 16px;
    height: 16px;
    background: #229DE8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.38;
    border-radius: 50%
}
#sl {
    position: absolute;
    top: 603px;
    left: 237px;
    width: 622px;
    height: 34px;
    text-align: left;
    font: bold 20px/19px "nunito";
    letter-spacing: 0;
    color: #229DE8;
    opacity: 0.78;
}
#zr {
    position: absolute;
    top: 605px;
    left: 1100px;
    width: 24px;
    height: 24px;
    background: url("images/cross.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
#gh {
    position: absolute;
    top: 680px;
    left: 137px;
    width: 1093px;
    height: 96px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
}
#dt {
    position: absolute;
    top: 720px;
    left: 182px;
    width: 16px;
    height: 16px;
    background: #229DE8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.38;
    border-radius: 50%
}
#gl {
    position: absolute;
    top: 713px;
    left: 237px;
    width: 622px;
    height: 34px;
    text-align: left;
    font: bold 20px/19px "nunito";
    letter-spacing: 0;
    color: #229DE8;
    opacity: 0.78;
}
#fr {
    position: absolute;
    top: 715px;
    left: 1100px;
    width: 24px;
    height: 24px;
    background: url("images/cross.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
#qn {
    position: absolute;
    top: 680px;
    left: 137px;
    width: 1093px;
    height: 96px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
}
#wt {
    position: absolute;
    top: 720px;
    left: 182px;
    width: 16px;
    height: 16px;
    background: #229DE8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.38;
    border-radius: 50%
}
#xl {
    position: absolute;
    top: 713px;
    left: 237px;
    width: 622px;
    height: 34px;
    text-align: left;
    font: bold 20px/19px "nunito";
    letter-spacing: 0;
    color: #229DE8;
    opacity: 0.78;
}
#vgr {
    position: absolute;
    top: 715px;
    left: 1100px;
    width: 24px;
    height: 24px;
    background: url("images/cross.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
#qno {
    position: absolute;
    top: 790px;
    left: 137px;
    width: 1093px;
    height: 96px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
}
#wtr {
    position: absolute;
    top: 830px;
    left: 182px;
    width: 16px;
    height: 16px;
    background: #229DE8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.38;
    border-radius: 50%
}
#xla {
    position: absolute;
    top: 823px;
    left: 237px;
    width: 622px;
    height: 34px;
    text-align: left;
    font: bold 20px/19px "nunito";
    letter-spacing: 0;
    color: #229DE8;
    opacity: 0.78;
}
#vgu {
    position: absolute;
    top: 825px;
    left: 1100px;
    width: 24px;
    height: 24px;
    background: url("images/cross.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
#qnz {
    position: absolute;
    top: 900px;
    left: 137px;
    width: 1093px;
    height: 96px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
}
#wtc {
    position: absolute;
    top: 940px;
    left: 182px;
    width: 16px;
    height: 16px;
    background: #229DE8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.38;
    border-radius: 50%
}
#xly {
    position: absolute;
    top: 933px;
    left: 237px;
    width: 622px;
    height: 34px;
    text-align: left;
    font: bold 20px/19px "nunito";
    letter-spacing: 0;
    color: #229DE8;
    opacity: 0.78;
}
#vgt {
    position: absolute;
    top: 935px;
    left: 1100px;
    width: 24px;
    height: 24px;
    background: url("images/cross.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
#qnp {
    position: absolute;
    top: 1010px;
    left: 137px;
    width: 1093px;
    height: 96px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
}
#wtj {
    position: absolute;
    top: 1050px;
    left: 182px;
    width: 16px;
    height: 16px;
    background: #229DE8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.38;
    border-radius: 50%
}
#xlm {
    position: absolute;
    top: 1043px;
    left: 237px;
    width: 622px;
    height: 34px;
    text-align: left;
    font: bold 20px/19px "nunito";
    letter-spacing: 0;
    color: #229DE8;
    opacity: 0.78;
}
#vgd {
    position: absolute;
    top: 1045px;
    left: 1100px;
    width: 24px;
    height: 24px;
    background: url("images/cross.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
#th {
    position: absolute;
    top: 1279px;
    left: 50px;
    width: 1267px;
    height: 127px;
    background: #229DE8 0% 0% no-repeat padding-box;
    border-radius: 48px 48px 0px 0px;
    opacity: 1;
}
#bt {
    position: absolute;
    top: 30px;
    left: 140px;
    width: 50px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}
#et {
    position: absolute;
    top: 30px;
    left: 260px;
    width: 44px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}
#oy {
    position: absolute;
    top: 30px;
    left: 381px;
    width: 86px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}
#cv {
    position: absolute;
    top: 30px;
    left: 652px;
    width: 11px;
    height: 21px;
    background: transparent url("images/facebook.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
#es {
    position: absolute;
    top: 30px;
    left: 687px;
    width: 28px;
    height: 21px;
    background: transparent url("images/twitter.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
#is {
    position: absolute;
    top: 30px;
    left: 1131px;
    width: 142px;
    height: 24px;
    text-align: left;
    font: normal 18px/24px serif;
    letter-spacing: o;
    color: #FFFFFF;
    opacity: 1;
}